extends layout

block content
  h1 Login Page
  form(action="/log/in", method="post")
    label(for="email") Email: &nbsp;
    input(type="text",name="email",id="email",placeholder="Email",required)
    br
    label(for="password") Password: &nbsp;
    input(type="password",name="password",id="password",placeholder="Password",required) 
    br
    input(type="submit", value="Login")